@inject IDataService dataService

<div class="my-component">
    This component is defined in the <strong>RazorClassLib</strong> library.
</div>

<div class="container">
    @if (data != null)
    {
        <p>I got @data.Count() piece@(data.Count() > 1 ? "s" : "") of data!</p>
        <ul>
        @foreach (var bit in data)
        {
            <li>@bit</li>
        }
        </ul>
    }

    <Calculator />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        data = await dataService.GetDataAsync();
    }

    IEnumerable<string> data;
}